export("%nin%")
export(attachHTML)
export(dapply)
export(detachHTML)
export(extract.re)
export(extract)
export(getObjects)
export(hImg)
export(hSvg)
export(in.interval)
export(kAnova)
export(kCharToFactor)
export(kCoef)
export(kColor)
export(kFactorToChar)
export(kFivenum)
export(kLoad)
export(kMakeDummy)
export(kmeans_plot)
export(kMerge)
export(kReplace)
export(kSave)
export(kSetwd)
export(kSplit)
export(kStackList)
export(kStripExtension)
export(kTable)
export(lg)
export(lu)
export(makeHTMLTable)
export(makeHTMLTag)
export(ngrep)
export(p1t)
export(pxt)
export(re.exists)
export(read.cb)
export(scan.cb)
export(str_rev)
export(str_slice)
export(us)
export(without.re)
export(without)
export(write.cb)
S3method(print,kHTML)
useDynLib(Kmisc)
