export("%kin%")
export("%knin%")
export("%nin%")
export(anat)
export(anatomy)
export(any_na)
export(attachHTML)
export(awk.set)
export(awk)
export(bwplot2)
export(cat.cb)
export(cd)
export(char_to_factor)
export(chunk)
export(clean_doc)
export(counts)
export(dapply)
export(detachHTML)
export(extract_rows_from_file)
export(extract_rows.re)
export(extract.re)
export(extract)
export(factor_)
export(factor_to_char)
export(fgrep)
export(getload)
export(getObjects)
export(gradient)
export(grid.text2)
export(hImg)
export(hSvg)
export(html)
export(in_interval)
export(is.sorted)
export(kAnova)
export(kCoef)
export(kFivenum)
export(kLoad)
export(kmeans_plot)
export(kMerge)
export(kSave)
export(kTable)
export(lg)
export(list_to_dataframe)
export(list_to_df)
export(lu)
export(make_dummy)
export(makeHTMLTable)
export(makeHTMLTag)
export(manhattan_plot)
export(melt_)
export(ngrep)
export(p1t)
export(pad)
export(par.reset)
export(pMerge)
export(pp_plot)
export(pxt)
export(pymat)
export(rcpp_apply_generator)
export(Rcpp_apply_generator)
export(rcpp_tapply_generator)
export(Rcpp_tapply_generator)
export(re.exists)
export(read.cb)
export(remove_chars)
export(remove_digits)
export(remove_na)
export(scan.cb)
export(simp)
export(split_file)
export(split_runs)
export(stack_list)
export(str_rev)
export(str_rev2)
export(str_slice)
export(str_slice2)
export(str_sort)
export(str_split)
export(strip_extension)
export(swap)
export(sys)
export(tapply_)
export(us)
export(without_rows.re)
export(without.re)
export(without)
export(write.cb)
import(grid)
import(lattice)
import(Rcpp)
S3method(melt_,data.frame)
S3method(melt_,matrix)
S3method(print,kHTML)
useDynLib(Kmisc)
