S3method(melt_,data.frame)
S3method(melt_,matrix)
S3method(print,kHTML)
S3method(transpose,data.frame)
S3method(transpose,default)
S3method(transpose,list)
export("%kin%")
export("%knin%")
export("%nin%")
export(Rcpp_apply_generator)
export(Rcpp_tapply_generator)
export(anat)
export(anatomy)
export(any_na)
export(attachHTML)
export(awk)
export(awk.set)
export(bwplot2)
export(cat.cb)
export(cd)
export(char_to_factor)
export(chunk)
export(clean_doc)
export(colApply)
export(counts)
export(dapply)
export(detachHTML)
export(duplicate)
export(extract)
export(extract.re)
export(extract_rows.re)
export(extract_rows_from_file)
export(factor_)
export(factor_to_char)
export(fgrep)
export(getObjects)
export(getload)
export(gradient)
export(grid.text2)
export(hImg)
export(hSvg)
export(html)
export(htmlTable)
export(in_interval)
export(is.sorted)
export(kAnova)
export(kCoef)
export(kFivenum)
export(kLoad)
export(kMerge)
export(kSave)
export(kTable)
export(kmeans_plot)
export(labeller)
export(list_to_dataframe)
export(list_to_df)
export(makeHTMLTable)
export(makeHTMLTag)
export(make_dummy)
export(manhattan_plot)
export(matches)
export(melt_)
export(ngrep)
export(p1t)
export(pMerge)
export(pad)
export(par.reset)
export(pp_plot)
export(pxt)
export(pymat)
export(rcpp_apply_generator)
export(rcpp_tapply_generator)
export(re.exists)
export(re_exists)
export(re_extract)
export(re_extract_rows)
export(re_without)
export(re_without_rows)
export(read)
export(read.cb)
export(readlines)
export(remove_chars)
export(remove_digits)
export(remove_na)
export(rowApply)
export(scan.cb)
export(simp)
export(size)
export(split2df)
export(split_file)
export(split_runs)
export(stack_list)
export(str_collapse)
export(str_rev)
export(str_rev2)
export(str_slice)
export(str_slice2)
export(str_sort)
export(str_split)
export(strip_extension)
export(swap)
export(swap_)
export(sys)
export(tapply_)
export(transpose)
export(tree)
export(unmelt_)
export(without)
export(without.re)
export(without_rows.re)
export(wrap)
export(write.cb)
importFrom(Rcpp,sourceCpp)
importFrom(data.table,alloc.col)
importFrom(data.table,is.data.table)
importFrom(data.table,setattr)
importFrom(grid,gpar)
importFrom(grid,grid.rect)
importFrom(grid,grid.text)
importFrom(grid,is.unit)
importFrom(grid,stringHeight)
importFrom(grid,stringWidth)
importFrom(grid,unit)
importFrom(knitr,kable)
importFrom(lattice,panel.abline)
importFrom(lattice,panel.bwplot)
importFrom(lattice,panel.grid)
importFrom(lattice,panel.polygon)
importFrom(lattice,panel.stripplot)
importFrom(lattice,panel.xyplot)
importFrom(lattice,stripplot)
importFrom(lattice,xyplot)
useDynLib(Kmisc, .registration=TRUE)
